/StudentProjectManagement/nbproject/private/
/StudentProjectManagement/build/
/StudentProjectManagement/dist/
/StudentProjectManagement/third_party/apache-tomcat-9.0.58/logs
/StudentProjectManagement/third_party/apache-tomcat-9.0.58/work